p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
    .container.about-page {
        .text-zone {
            position: initial;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}